
.tournaments-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tournamentTitle {
    font-family: Calibri, 'sans-serif', 'Gill Sans MT', 'Trebuchet MS';
    font-style: italic;
    font-size: calc(20px + 2vmin);
    width: 350px;
}

.nameInput{
    width: 350px;
    padding: 10px;
}

.competitionInput{
    width: 350px;
    padding: 10px;
}

.competitionPicture{
    padding: 10px;
    width: 150px;
    height: 150px;
}

.select-criteria{
    width: max-content;
    min-width: 350px;
    padding: 10px;
}

.criteriaItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn.btn-primary{
    width: 350px;
    padding: 10px;
}
