#competition{
    text-align: center;
    width: 150px;
  }

img.comppic{
    cursor: pointer;
    width: 150px;
    height: 150px;
    text-align: center;
}

img.comppic:hover{
    cursor: pointer;
    width: 175px;
    height: 175px;
    text-align: center;
}