.competitions{
    text-align: center;
}

.competition{
    text-align: center;
    padding: 2cm;
    width: 9cm;
    height: auto;
    display: inline-block;
  }

.compText{
    font-style: italic;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding: 5%;
    font-size: 120%;
}

img.comppic{
    cursor: pointer;
    width: 150px;
    height: 150px;
    padding: 20px;
    text-align: center;
    display: inline-block;
}

img.comppic:hover{
    cursor: pointer;
    width: 150px;
    height: 150px;
    padding: 0px;
    text-align: center;
    display: inline-block;
}

#alert-competition {
    margin: 10px;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}