.Login-main {
    text-align: center;
    background-color: #02022c;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(5px + 2vmin);
    color: whitesmoke;
}

.input {
    margin: 10px;
}

.register {
    background-color: #02022c;
    color: whitesmoke;
    text-align-last: end;
}

#LoginUserInput {
    padding: 7px;
}

#LoginPassInput {
    padding: 7px;
}

#LoginTitle {
    font-family: Calibri, 'sans-serif', 'Gill Sans MT', 'Trebuchet MS';
    font-style: italic;
    font-size: calc(20px + 2vmin);
}

#LoginBtn {
    margin: 10px;
}

#alertLogin {
    margin: 10px;
}

.register{
    font-family: Calibri, 'sans-serif', 'Gill Sans MT', 'Trebuchet MS';
    font-size: calc(3px + 2vmin);
}

#RegisterBtn{
    font-family: Calibri, 'sans-serif', 'Gill Sans MT', 'Trebuchet MS';
    font-size: calc(3px + 2vmin);
}
