img.teamCrest{
    width: 125px;
    height: 125px;
    padding: 20px;
    text-align: center;
}

.matches-page{
    display: flex;
    justify-content: center;
}

.team{
    text-align: center;
    width: 5cm;
    height: auto;
    display: inline-block;
}

.teamName{
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
}

.result{
    /*font-family: Calibri, 'sans-serif', 'Gill Sans MT', 'Trebuchet MS';*/
    font-size: calc(5px + 2vmin);
}

.prediction{
    display: inline-block;
}

.card{
    margin-top: 20px;
    text-align: center;
}

.matches{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.localResInput{
    width: 25mm;
}

.awayResInput{
    width: 25mm;
    margin-left: 10mm;
}

.goals{
    width: 80mm;
    display: inline-block;
}

.savePredictionsBtn{
    position: fixed;
}

.card-header{
    /*font-family: Calibri, 'sans-serif', 'Gill Sans MT', 'Trebuchet MS';*/
    font-weight: bold;
    font-size: large;
}

#match{
    display: flex;
    justify-content: center;
    width: 20cm;
}

#saveBtn{
    margin-left: 10px;
}