img.teamCrest{
    width: 150px;
    height: 150px;
    padding: 20px;
    text-align: center;
}

.team{
    text-align: center;
    width: 150px;
    padding: 2cm;
    width: 5cm;
    height: auto;
    display: inline-block;
}

.resultado{
    padding-top: 40%;
}

.matches{
    display: flex;
    flex-direction: column;
}

.match{
    display: flex;
    justify-content: center;
}