img.teamCrest{
    width: 150px;
    height: 150px;
    padding: 20px;
    text-align: center;
}

.team{
    text-align: center;
    width: 5cm;
    height: auto;
    display: inline-block;
}

.result{
    padding-top: 40%;
}

.prediction{
    display: inline-block;
}

.card{
    margin-top: 20px;
    text-align: center;
}

.matches{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#match{
    display: flex;
    justify-content: center;
    width: 20cm;
}

#matchBody{
    text-align: center;
}