.tableHead{
    font-weight: bold;
}

.positionsTitle{
    font-size: 40px;
    padding: 15px;
    padding-top: 20px;
}

.position{
    font-weight: bold;
}

.btn.btn-primary.criteria{
    float: right;
}

.tournamentCriteriasTitle{
    font-weight: bold;
}