.tableHead{
    font-weight: bold;
}

.positionsTitle{
    font-size: 40px;
    padding: 15px;
    padding-top: 20px;
}

.position{
    font-weight: bold;
}

.btn.btn-primary.criteria{
    float: right;
}

.tournamentCriteriasTitle{
    font-weight: bold;
}

.tournamentCriteria{
    display: flex;
    justify-content: space-between;
}

.tournamentCriteriaName{
    width: 200px;
    font-weight: bold;
    padding: 10px;
    margin-top: 15px;
}

.tournamentCriteriaScore{
    padding: 10px;
    margin-top: 15px;
}

.seeCriteriaDescription{
    margin-top: 10px;
}

.closeCriteriasModal{
    margin-left: 5cm;
}