.Register-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#02022c;
    height: 100vh;
    font-size: calc(5px + 2vmin);
    color: whitesmoke;
}

.registerInput {
    margin: 10px;
}

#RegisterTitle{
    font-style: italic;
    font-size: calc(20px + 2vmin);
}

.alert alert-danger{
    width: 350px;
}

.Register-main input{
    width: 350px;
}

#RegisterNameInput{
    padding: 5px;
}

#RegisterEmailInput{
    padding: 5px;
}

#RegisterPassInput{
    padding: 5px;
}

#RegisterConfirmPassInput{
    padding: 5px;
}

#RegisterImageInput{
    padding: 5px;
    cursor: pointer;
}

#ProfilePicture{
    height: 4cm;
    width: 4cm;
    border-radius: 15px;
}