.tournaments-table-container{
    padding-top: 20px;
}

.tournaments-table{
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.close{
    margin-left: 280px;
}

.modal-header{
    display: flex;
}

.modal-body{
    height: 300px;
    overflow-y: auto;
}

.invite{
    margin-left: 150px;
}

.user-container{
    display: flex;
    margin-left: 20px;
}

.invite-error{
    width: 498px;
}

.modal-footer{
    display: flex;
    justify-content: center;
}

.remove-user{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-left: 20px;
    margin-right: 40px;
}

.user-email{
    width: 100px;
    padding: 5px;
    margin-top: 5px;
}

.emailInput{
    width: 500px;
}

.tournaments-nodata{
    text-align: center;
}
