.userScoreProfilePicture{
    width:75px;
    height: 75px;
    float: left;
    cursor: pointer;
}

.btn.btn-primary.refresh{
    margin: 20px;
}

.sc-fEXmlR.kNUuTe.rdt_TableHeader {
    width: 50%;
}